	* {
		outline: none;
  		text-decoration: none;
  		font-family: 'Open Sans Condensed', sans-serif;
	}
	.input_block {
		width: 300px;
		height: 50px;
		border-radius: 50px;
		margin-top: 45px;
		position: relative;
	}
	::-webkit-input-placeholder {
    	color: #ddd;
    }
    .button {
		font-size: 15px;
  		font-weight: 700;
  		color: #ddd;
		width: 150px;
		height: 50px;
		margin-top: 60px;
		border-radius: 20px;
	    background: rgba(3,3,3,.4);
	    opacity: 0.8;
	    box-shadow: 7px 7px 30px #000;
	    cursor: pointer;
	}
	/*кнопки-треугольники (влево - вправо)*/
	.triangle {
		position: absolute;
		width: 0;
		height: 0;
		top: 203px;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		cursor: pointer;
		transition: all .2s ease-in-out;
	}
	.triangle-left {
		border-right: 30px solid #778899;
	}
	.triangle-right {
		border-left: 30px solid #778899;
	}
	.triangle-left:hover {
		border-right-color: #708090;
		transform: scale(1.2);
	}
	.triangle-right:hover {
		border-left-color: #708090;
		transform: scale(1.2);
	}	