	* {
		outline: none;
  		text-decoration: none;
  		font-family: 'Open Sans Condensed', sans-serif;
	}
	.input_block {
		width: 300px;
		height: 50px;
		border-radius: 50px;
		margin-top: 45px;
	}
	input {
		color: #fff;
		font-size: 15px;
		padding: 8px;
		background: rgba(3,3,3,.1);
		border: none;
		width: 100%;
		height: 100%;
		border-radius: 50px;
	}
	input:focus{
	    box-shadow: 3px 3px 10px #333;
	    background: rgba(3,3,3,.18);
	}
	::-webkit-input-placeholder {
    	color: #ddd;
    }
    .button {
		font-size: 15px;
  		font-weight: 700;
  		color: #ddd;
		width: 150px;
		height: 50px;
		margin-top: 60px;
		border-radius: 20px;
	    background: rgba(3,3,3,.4);
	    opacity: 0.8;
	    box-shadow: 7px 7px 30px #000;
	    cursor: pointer;
	}
	.log_form {
		background: rgba(3,3,3,0.25);
		box-shadow: 1px 1px 50px #000;
		color: #ddd;
		width: 350px;
		height: 450px;
	}